/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Nov 2021, 9:32:55 am
    Author     : Eric
*/

/* Navbar */
.navbar-brand img {
    width: 200px;
    height: 60px;
}
div.nav-wrapper {
    position:fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}
nav.navbar {
    margin: auto;
    width: 70vw;
    top: 0;
}
div.navbar-collapse {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
}
@media (min-width: 1200px) {
    div.navbar-collapse {
    justify-content: space-between;
    }
}
ul.navbar-col-2 {
    margin-right: 0;
}
@media (min-width: 1200px) {
    ul.navbar-col-2 {
        
    }
}
ul.navbar-col-1 {
    min-width: 10rem;
}
/* End navbar */
/*Page body*/
div.page-bg {
    background-color:lightgray;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
}
.page-body {
    margin-top: 60px;
    display: flex;
    margin-bottom: 100px;
    border: 1px solid grey;
    width: 70vw;
    gap: 30px;
    background-color: white;
}
.main-content {
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
}
.side-menu {
    margin-left: 20px;
    margin-top: 2rem;
    padding: 20px;
    max-width: 10rem;
    padding: 0;

}
/*Page body end*/
/*Footer start*/
footer {
    border-top: solid;
    font-style: italic;
    font-size: 12px;
}

ul.columns {
    list-style-type: none;
    columns: 3;
    -webkit-column: 3;
    -moz-columns: 3;
    padding: 0;
    margin: 0;
}

ul.footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.copyright {
    text-align: center;
}
/*Footer end*/
