/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Nov 2021, 9:32:55 am
    Author     : Eric
*/

/* Navbar */
.company-logo img {
    width: 60px;
    height: 60px;
}
div.nav-wrapper {
    position:fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}
nav.navbar {
    margin: auto;
    z-index: 2;
    width: 100%;
    top: 0;
    justify-content: space-between;
    background-color:darkorchid;
}
div.collapseNav {

}
@media (min-width: 1200px) {
    nav.navbar {
    width: 70vw;
    }
    div.collapseNav{
        width: 70vw;
    }
}
div.navbar-collapse {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
}
@media (min-width: 768px) {
    div.navbar-collapse {
        justify-content: center;
    }
}
a.dropdown-item {
    padding: 0.25rem 0.5rem;
}
a.nav-link {
    color: rgb(251, 209, 255)!important;
}
ul.navbar-col-2 {
    margin-right: 0;
}
ul.navbar-col-1 {
    min-width: 10rem;
}
button.navbar-toggler {
    margin-right: 0;
}
/* End navbar */
/* Side menu*/
.menu-item li {
    padding: 15px;
    margin: 20px;
    min-width: 120px;
}
.side-menu {
    padding-top: 20px;
    width: fit-content;
    height: fit-content;
    margin-top: 100px;
    border-radius: 5px;
    background-color: rgb(181, 90, 209);
}
.side-menu h2 {
    margin-left: 20px;
    color:rgb(251, 209, 255)
}
.list-group-item {
    width: 170px;
}
.list-group {
    margin: 16px 10px 10px 10px;
    width: fit-content;
    border: 2px solid #926d9f;
    border-radius: 6px;
}
@media (max-width: 768px) {
    .side-menu {
        display: none;
    }
}

/*Page body*/
.page-bg {
    background-color:white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
}
@media (min-width: 1200px) {
    .page-bg {
        background-color:lightgray;
        background-size: cover;
    }
}
.page-body {
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: column;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}
@media (min-width: 1200px) {
    .page-body {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        justify-content: center;
        width: 70vw;
    }
}
@media (min-width: 1200px) {
    .page-body {
    width: 70vw;
    }
}
.page-content {
    margin:auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    background-color: white;
    justify-content: center;
    gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
@media (min-width: 1200px) {
    .page-content {
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
    }
}
.main-content {
    min-width: 200px;
    max-width: 1000px;
    padding: 40px;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 100%;

}
.input-group-text{
    width: 130px;
    min-width: 90px;
}
@media (max-width: 768px) {
    .main-content {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

    }
}
@media (max-width: 500px) {
    .minw-500 {
        min-width: 200px;
    }
}

.column-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin-top: 40px;
}

.header_content {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    justify-content: center;
}

.content {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    width: 100%;
    background-color: white;
    justify-content: center;
    gap: 30px;
}

.about_imgs {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.about_header {
    text-align: center;
}

.general_header {
    margin-top: 100px;
    margin-left: 85px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
/*Page body end*/
/* Forms*/
div.date-entry {
    min-width: 200px;
}
/*Footer start*/
footer {
    border-top: solid;
    font-style: italic;
    font-size: 12px;
}

ul.columns {
    list-style-type: none;
    columns: 3;
    -webkit-column: 3;
    -moz-columns: 3;
    padding: 0;
    margin: 0;
}

ul.footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.copyright {
    text-align: center;
}

/*Footer end*/
/*Account Balnce*/
button.account-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    border-style: none;
    border-radius: 5px;
    background: linear-gradient(rgb(151, 9, 163),rgb(214, 93, 225));
}
div.accounts-wrapper {
    display: flex;
    flex-direction: column;
}
.account-card p {
    margin-bottom: 0;
}
/*Account Balance end*/


/* Profile CSS */
/* Passsword Eye */
form i {
    cursor: pointer;
}

/*Go back 1 page button*/
.return_btn{
    background-color: red;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}
/*Return to index page button*/
.home_btn
{
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}

/* Profile CSS End*/
