/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : 11 Nov 2021, 9:32:55 am
    Author     : Eric
*/


/* Navbar */

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 900px
}

.company-logo img {
    width: 60px;
    height: 60px;
}

div.nav-wrapper {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.navbar {
    margin: auto;
    width: 100%;
    top: 0;
    justify-content: space-between;
    background-color: darkorchid;
}

div.navLinkContainer {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    div.navLinkContainer {
        flex-direction: column;
    }
    .nav-item .dropdown-menu {
        min-width: fit-content;
    }
}

div.navbar-collapse {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
}

@media (min-width: 768px) {
    div.navbar-collapse {
        justify-content: center;
    }
}

.navbar a.dropdown-item {
    padding: 0.25rem 0.5rem;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar ul.navbar-col-2 {
    margin-right: 0;
}

ul.navbar-col-1 {
    min-width: 8rem;
}

button.navbar-toggler {
    margin-right: 0;
}

.nav-max {
    max-width: 960px;
}

.dropdown-toggle {
    white-space: normal;
}

#accountList p {
    display: inline;
}


/* End navbar */


/* Side menu*/

.menu-item li {
    padding: 15px;
    margin: 20px;
    min-width: 120px;
}

.front-side-menu {
    margin-top: 100px;
    min-width: 170px;
}

.front-side-menu .nav .nav-link {
    color: black;
    border-style: none none solid none;
    border-width: 1px;
    border-color: lightgray;
}

.front-side-menu .nav a.active {
    background-color: darkorchid;
    color: white;
    padding-left: 30px;
}

.user-side-menu {
    margin-top: 100px;
    min-width: fit-content;
}

.user-side-menu .nav .nav-link {
    color: black;
    border-style: none none solid none;
    border-width: 1px;
    border-color: lightgray;
    width: 230px;
}

.user-side-menu .nav a.active {
    background-color: darkorchid;
    color: white;
    padding-left: 30px;
}

.side-menu-title {
    padding-left: 16px;
}

.side-menu {
    padding-top: 20px;
    width: fit-content;
    height: fit-content;
    margin-top: 100px;
    border-radius: 5px;
    background-color: rgb(181, 90, 209);
}

.side-menu h2 {
    margin-left: 20px;
    color: rgb(251, 209, 255)
}

.list-group-item {
    width: 170px;
}

.list-group {
    margin: 16px 10px 10px 10px;
    width: fit-content;
    border: 2px solid #926d9f;
    border-radius: 6px;
}

@media (max-width: 768px) {
    .side-menu {
        display: none;
    }
    .front-side-menu {
        display: none;
    }
    .user-side-menu {
        display: none;
    }
}


/*Page body*/

.page {
    height: 100vh;
}

.page-bg {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: -9;
}

@media (min-width: 1200px) {
    .page-bg {
        background-color: white;
        background-size: cover;
    }
}

.banner-container {
    width: 100%;
    margin-top: 100px;
    z-index: 1;
    position: relative;
}

.banner-container img {
    width: 100%;
    height: 360px;
    margin-top: 100px;
    z-index: 1;
    position: relative;
}

.page-body {
    display: flex;
    margin: auto;
    margin-top: 0;
    width: 100%;
    min-height: calc(100vh - 240px);
    flex-direction: column;
    background-color: white;
}

@media (min-width: 1200px) {
    .page-body {
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
        width: 80vw;
    }
}

.page-content {
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    background-color: white;
    justify-content: center;
    gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 1200px) {
    .page-content {
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 576px) {
    h1.display-4 {
        overflow-wrap: break-word;
    }
}

.index-page-body {
    display: flex;
    margin: auto;
    margin-top: -50px;
    width: 100%;
    flex-direction: column;
    z-index: 2;
}

@media (min-width: 1200px) {
    .index-page-body {
        justify-content: center;
        width: 80vw;
    }
}

.index-title-box {
    margin: auto;
    margin-top: 0;
    margin-bottom: 100px;
    background-color: white;
    z-index: 2;
    gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .index-title-box {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.index-page-content {
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    background-color: white;
    z-index: 2;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .index-page-content {
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
    }
}

.index-message {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.jumbotitle {
    background-color: darkorchid;
}

.jumbotitle h1 {
    color: white;
}

.jumbotitle p {
    color: white;
}

.index-card {
    height: 240px;
    width: 240px;
    margin: 20px;
}

a.index-card:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
}

.index-card h5,
p {
    color: black;
}

.card-box {
    margin: 30px;
}

@media (max-width: 768px) {
    .card-box {
        margin-left: 0;
        margin-right: 0;
    }
}

.card-list {
    justify-content: center;
}

.big-card {
    min-width: 250px;
    width: 250px;
    min-height: 400px;
}

.hover-collapse {
    position: absolute;
    top: 184px;
    width: 280px;
    background-color: lightgrey;
    border-radius: 10px;
    z-index: 5;
}

.card-wrapper {
    position: relative;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-on-pic {
    background-color: rgba(255, 255, 255, 0.9);
}

.main-content {
    min-width: 200px;
    max-width: 1000px;
    padding: 40px;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    width: 100%;
    height: fit-content;
}

.input-group-text {
    width: 130px;
    min-width: 90px;
}

@media (max-width: 768px) {
    .main-content {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 500px) {
    .minw-500 {
        min-width: 200px;
    }
}

.column-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin-top: 40px;
}

.header_content {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    justify-content: center;
}

.content {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    width: 100%;
    background-color: white;
    justify-content: center;
    gap: 30px;
}

.about_imgs {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.about_header {
    text-align: center;
}

.general_header {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.about_section {
    width: 33.33%;
    float: left;
}

.general_containers {
    max-width: 90%;
    display: inline-block;
    position: relative;
}

.finance {
    display: block;
    max-width: 100%;
    height: auto;
}

.trade_service {
    display: block;
    width: 100%;
    height: auto;
}

.bwu_section {
    margin: 20px;
}


/*Page body end*/


/* Forms*/

div.date-entry {
    min-width: 200px;
}


/*Footer start*/

footer {
    font-style: italic;
    font-size: 12px;
    min-height: 240px;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
}

.columns {
    display: flex;
    justify-content: center;
}

ul.columns {
    list-style-type: none;
    columns: 3;
    -webkit-column: 3;
    -moz-columns: 3;
    padding: 0;
    margin: 0;
}

ul.footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.copyright {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.footer {
    justify-content: center;
}

.footer-list-wrap {
    min-width: auto;
    margin-top: 30px;
}

@media (max-width: 576px) {
    .columns {
        width: 80%;
    }
    .footer-list-wrap {
        min-width: 200px;
    }
}

.footer-list a {
    color: darkorchid;
}


/*Footer end*/


/*Account Balnce*/

button.account-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    border-style: none;
    border-radius: 5px;
    background: linear-gradient(rgb(151, 9, 163), rgb(214, 93, 225));
}

div.accounts-wrapper {
    display: flex;
    flex-direction: column;
}

.account-card p {
    margin-bottom: 0;
}


/*Account Balance end*/


/*Page carousel*/

.carousel-container {
    width: 100%;
    margin-top: 100px;
    z-index: 1;
    position: relative;
}

.page_carousel {
    width: 100%;
    margin-top: 100px;
}

.carousel-inner>.carousel-item>img {
    height: 360px;
    object-fit: cover;
    object-position: 50% 0%;
}


/* Profile CSS */


/* Passsword Eye */

form i {
    cursor: pointer;
}


/*Go back 1 page button*/

.return_btn {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}


/*Return to index page button*/

.home_btn {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}


/* Profile CSS End*/


/*Grid Blocks Start*/

.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: black;
    border: black 1px solid;
}

.containerTab {
    padding: 20px;
    color: black;
    display: none;
    background: lightgray;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Closable button inside the image */

.closebtn {
    float: right;
    color: black;
    font-size: 35px;
    cursor: pointer;
}


/*Grid Blocks End*/