/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Nov 2021, 9:32:55 am
    Author     : Eric
*/

/* Navbar */
.navbar-brand img {
    width: 200px;
    height: 60px;
}
div.nav-wrapper {
    position:fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}
nav.navbar {
    margin: auto;
    width: 100vw;
    top: 0;
    justify-content: space-between;
}
@media (min-width: 1200px) {
    nav.navbar {
    width: 70vw;
    }
}
div.navbar-collapse {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
}
@media (min-width: 768px) {
    div.navbar-collapse {
    justify-content: center;
    }
}
a.dropdown-item {
    padding: 0.25rem 0.5rem;
}
ul.navbar-col-2 {
    margin-right: 0;
}
ul.navbar-col-1 {
    min-width: 10rem;
}
button.navbar-toggler {
    margin-right: 0;
}
/* End navbar */
/* mid menu*/
.menu-item li {
    padding: 15px;
    margin: 20px;
    min-width: 120px;
}
.side-menu {
    margin-left: 20px;
    padding-top: 40px;
    min-width: 170px;
    margin-top: 80px;
    border-radius: 15px;
    display: none;
}
@media (min-width: 768px) {
    .side-menu {
        display: block;
    }
}
/*Page body*/
div.page-bg {
    background-color:white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
}
@media (min-width: 1200px) {
    div.page-bg {
        background-color:lightgray;
    }
}
.page-body {
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: column;
    background-color: white;
}
@media (min-width: 1200px) {
    .page-body {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        justify-content: center;
        width: 70vw;
    }
}
@media (min-width: 1200px) {
    .page-body {
    width: 70vw;
    }
}
.page-content {
    margin:auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    width: 100%;
    background-color: white;
    justify-content: center;
    gap: 30px;
}
@media (min-width: 1200px) {
    .page-content {
        justify-content: center;
        width: 70vw;
    }
}
.main-content {
    width: 80%;
    min-width: 200px;
    max-width: 1000px;
    padding: 40px;
    margin-top: 80px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;

}
@media (min-width: 768px) {
    .main-content {
        margin-right: 40px;
    }
}
.input-group-text{
    width: 130px;
    min-width: 90px;
}
/*Page body end*/
/*Footer start*/
footer {
    border-top: solid;
    font-style: italic;
    font-size: 12px;
}

ul.columns {
    list-style-type: none;
    columns: 3;
    -webkit-column: 3;
    -moz-columns: 3;
    padding: 0;
    margin: 0;
}

ul.footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.copyright {
    text-align: center;
}
/*Footer end*/
